<div class="subcontainer">
  <div *ngIf="cardsAvailable">
    <form (ngSubmit)="onContinue()">
      <div class="cards-container">
        <div
          *ngFor="let card of creditCards"
          class="card"
          (click)="selectCard(card.id)"
        >
          <div class="card-content">
            <img
              [src]="getImageUrl(card.card_image)"
              alt="Card Image"
              class="card-image"
            />
            <div>
              <h2>{{ card.type }}</h2>
              <h4>Limit:</h4>
              <h5>{{ card.credit_limit | currency }}</h5>
              <h4>Interest Rate:</h4>
              <h5>{{ card.interest_rate }}%</h5>
              <h4>Benefits:</h4>
              <div [innerHTML]="card.benefits"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="contine-button">
        <button class="contine-button" type="submit">Continue</button>
      </div>
    </form>
  </div>
  <div *ngIf="!cardsAvailable">
    <h5>There are currently no other cards for you to apply for.</h5>
    <button (click)="viewInformation()">View your information</button>
  </div>
</div>
<div *ngIf="!validDetails">
  <h5>Something went wrong, try again later.</h5>
  <button (click)="goBack()">Go Back</button>
</div>
<div *ngIf="errorMessage">
  <h5>{{ errorMessage }}</h5>
</div>
